* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}


.output {
  color: rgb(255, 0, 0);
}

.perfumes {
  color: rgb(0, 0, 0);
}

.display-none {
  display: none;
}

.searchImage {
  width: 500px;
  height: auto;
}

