* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.display-none {
  display: none !important;
}

.searchImage {
  width: 500px;
  height: auto;
}

@media only screen and (max-width: 900px) {
  .card-title {
    font-size: 0.8rem;
  }
}
