:root {
  --light: #f2d9bb;
  --light-red: #f28066;
  --dark-red: #f2505d;
  --dark-blue: #011526;
  --lighter-blue: #092b40;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark-blue);
  font-family: monospace, serif;
}

.modal-content {
  background-color: var(--dark-blue);
  color: var(--light);
}

.modal-content button {
  background-color: var(--dark-blue);
  color: var(--light);
}

h1 {
  color: var(--light);
}
.logo {
  border-radius: 5px;
  width: 200px;
}

button:not(.text-danger, .close-btn, .navbar-toggler) {
  background-color: var(--dark-red) !important;
  color: white !important;
}
button:not(.text-danger, .close-btn, .navbar-toggler):hover {
  background-color: var(--light-red);
}
.text-danger {
  background-color: var(--lighter-blue) !important;
}
.bi-list {
  font-size: 50px;
  font-weight: 900;
  color: var(--dark-red);
  margin: auto;
}
.display-none {
  display: none !important;
}
.btn:focus {
  box-shadow: none;
}
.close-btn {
  font-size: 1.5rem !important;
  font-weight: 900;
}

label {
  color: black;
}

.image1 {
  height: 10rem;
  max-width: fit-content;
  border-radius: 4px !important;
}
img:not(.logo) {
  filter: brightness(80%);
}
.searchImage {
  filter: brightness(60%);
  width: 100px;
  height: auto;
}

.register-span:hover {
  color: var(--light-red);
}

.main-logged-out {
  margin-top: 2rem;
  width: 100vw;
  height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url(../assets/1.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.password-reset {
  cursor: pointer;
}

.bi-trash {
  font-size: 1.4rem;
}
.card {
  background-color: var(--lighter-blue);
  height: 100px;
  width: auto;
  min-width: 250px;
  color: var(--light);
}
.card-img {
  height: 80px;
  width: auto;
  border-radius: 4px;
}
footer {
  margin-top: 250px;
}
@media only screen and (max-width: 900px) {
  .main-logged-out {
    width: 100vw;
    height: 300px;
    background-position-y: 50%;
  }
  footer {
    margin-top: 100px;
  }
}
